body {
    background: #F8F8F8;
}

.formularioLogin {
    background: white;
    width: 40vw;
    height: 100vh;
    margin: 0 auto 32% auto;
    padding: 5%;
}

button {
    bottom: -30%;
    right: -10%;
}