body {
    background: #F8F8F8;
}

h2 {
    font-size: 2.3vh;
    font-weight: 600;
    text-transform: uppercase;
    color: #1DB8DC;
}

.menu {
    height: 18vh;
    width: 100%;
    padding-top: 3%;
    position: fixed;
    z-index: 100;
    background: white;
    box-shadow: rgba(126, 126, 126, .2) 0 0 5px;
  } 

  .menu nav a {
    color: #4D4D4D;
  }

  .menu a.button-menu {
    width: 130px;
    height: 55px;
    background: #1DB8DC;
    border-radius: 32px;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    margin: -20px 0;
    padding: 18px 0;
  }

  .content-contato {
    max-width: 80vw;
    height: 100%;
    margin: 0 auto; 
  }

  .apresentacao-form p {
    font-weight: 200;
    max-width: 60vw;
  }

  .contato-mapa {
    width: 600px;
    height: 650px;
    background: white;
    box-shadow: rgba(126, 126, 126, .2) 0 0 5px;
    
  }

  iframe {
    margin: 60px 0;
  }

  .contato-mapa p {
      position: relative;
      top: 30px;
      left: 30px;
  }

  .contato-mapa a {
    position: relative;
    bottom: 35px;
    left: 30px;
    text-decoration: underline;
}

#mapa.flex-container {
    align-items: flex-start;
    justify-content: center;
    margin: 12% 0;
}

.flex-container .endereco {
  width: 40%;
}

#mapa address {
  font-weight: 200;
  font-size: 3vh;
  font-style: normal;
  padding-top: 3%;
}


button {
  font-family: "Prompt";
  border: none;
  position: absolute;
  bottom: -16%;
  right: 50%;

}

button:hover {
  background: rgb(196, 38, 72);
}


/* -------------------------Media queries for mobile-------------------------- */

@media only screen and (max-width: 416px) {


  main {
    top: 40vh;
  }

  h2 {
    text-align: center;
  }

  .menu {
    height: 32%;
  }

  .apresentacao-form p {
    max-width: 100%;
    text-align: center;
  } 

  input, textarea {
    width: 100%;
    padding: 6%;
  }

  button {
    position: initial;
  }

  .flex-container .endereco {
      width: 100%;
  }


   #mapa address {
    text-align: center;
  }

   .contato-mapa p {
    text-align: left;

  }

  .contato-mapa {
    width: 90%;
    margin-top: 10%;
  }

  iframe {
    width: 100%;
  }

  #mapa.flex-container {
    align-items: center;
     
  } 

  .content-contato {
    margin: 10% auto;

  }
}