body {
    background: #F8F8F8;
}

.menu {
    background: white;

}

.menu nav a {
    color: #4D4D4D;
}

.menu nav ul {
    width: 65%;
}

.menu .submenu {
    left: 53.5%;
}

.container-menuDashboard {
    width: 100vw;
    height: 65px;
    background: #1DB8DC;
    position: fixed;
    top: 166px;
    left: 0;
    z-index: 50;
}

.menuDashboard {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  
}

.menuDashboard-item li {
    display: inline;
    padding: 0 10px;
    font-weight: 200; 
    color: white;
}

.menuDashboard-item a {
    color: white;
    text-decoration: underline white;
}

.formularioEditar {
    background: white;
    width: 80%;
    height: 100%;
    margin-bottom: 32%;
    margin-left: 10%;
    padding: 5%;  
}

.formularioEditar form {
    margin-top: 8%;
}

.formularioEditar a {
    padding: 1%;
}

.formularioEditar h2 {
    text-align: left;
}

input {
    padding: 2%;
}

button {
    right: 34%;
    bottom: -15%;
}

fieldset {
    width: 60%;
}

h3 {
    text-align: left;
}

.dashboard {
    margin-top: 4%;
}

.dashboard a {
    color: #1DB8DC;
    text-decoration: underline;
    font-size: 120%;
    font-weight: 300;
    text-align: left;
}

.container-menuDashboard-admin {
    width: 100vw;
    height: 65px;
    background:#D5294E;
    position: fixed;
    top: 166px;
    left: 0;
    z-index: 50;
}