body {
    background: linear-gradient( #1DB8DC, #1DB8DC, #F8F8F8, #F8F8F8, #F8F8F8);
}

h2 {
    color: #1DB8DC;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 200%;
}

.formularioLogin {
    background: white;
    width: 40vw;
    height: 90vh;
    margin: 0 auto 32% auto;
    padding: 5%;  
}

.formularioLogin form {
    margin-top: 8%;
}

.formularioLogin a {
    padding: 1%;
}

.formularioLogin-cadastraLink {
    text-align: center;
    margin: 30% auto;
}

input {
    height: 45px;
    width: 110%;
    padding: 4%;
}

button {
    bottom: -90%;
    right: -10%;
}

textarea {
    width: 110%;
    padding: 2%;
    margin-bottom: 6%;
    height: 30vh;

}

