/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/* geral */

html {
    font-family: 'Prompt', sans-serif;
    color: #4D4D4D;
    
}

body {
    background: linear-gradient( #1DB8DC, #1DB8DC, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8);
}

h1 {
    font-size: 280%;
    font-weight: 500;
    text-align: center;
    color: white;

}

h2 {
    font-size: 105%;
    font-weight: 600;
    text-transform: uppercase;
    color: #D5294E;
}

h3 {
    font-size: 250%;
    font-weight: 500;
}

h4 {
    font-size: 180%;
    font-weight: 500;
}

h5 {
    font-size: 110%;
    font-weight: 500;
    text-transform: uppercase;
}


p {
    font-size: 100%;
}

strong {
    font-weight: 600;
}

.content {
    max-width: 80vw;
    height: 100%;
    margin: 0 auto; 
}


main a {
    display: block;
    padding: 13px;
}

.button-light {
    width: 250px;
    height: 55px;
    background: white;
    border: 1px solid #1DB8DC;
    border-radius: 32px;
    margin: 30px auto;
    font-size: 100%;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color:#1DB8DC;
    display: block;
    padding:14px;
}

.button-medium {
    width: 250px;
    height: 55px;
    background: #1DB8DC;
    border-radius: 32px;
    margin: 30px auto;
    font-size: 100%;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding:14px;
}

.button-strong {
    width: 250px;
    height: 55px;
    background: #D5294E;
    border-radius: 32px;
    margin: 30px auto;
    font-size: 100%;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding:14px;
}



.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* menu */

.flex-container-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    height: 18vh;
    width: 100%;
    padding-top: 3%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #1DB8DC;
  } 

  

.menu li {
    list-style: none;
   
}

.menu nav {
    display: flex;
    width: 70%;
    justify-content: flex-end;
}

.menu nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    color: white; 
    padding: 4px;  
    transition: 0.2s ease-in-out;
}

.menu nav a:hover {
    color:  #D5294E;
}

.menu a.button-menu {
    width: 130px;
    height: 55px;
    background: white;
    border-radius: 32px;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #1DB8DC;
    margin: -20px 0;
    padding: 18px 0;
  }

.menu .submenu {
    width: 12%;
    display: none;
    background: #F8F8F8;
    margin-top: 5px;
    padding: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    /* position: relative; */
    position: absolute;
    top: 70%;
    left: 55%;
    
   
}

.submenu li {
    padding: 4px;
    
}

.menu .submenu a {
    font-size: 90%;
    color: #4D4D4D;
    text-transform: none;
    padding: 2px;
}

.menu .open-submenu a {
    padding-bottom: 20px;
}

.menu .open-submenu:hover .submenu {
    display: block;
  
}



/* MAIN */
main {
   width: 100%;
   margin: 0 auto;
   position: relative;
   top: 30vh;
   left: 0;
}
/* apresentacao */
.apresentacao {
    height: 150vh;
   
}

.apresentacao img {
    max-width: 100%;
    display: block;
    margin: 0 auto;

}

.apresentacao p {
    font-size: 2.5vh;
    font-weight: 300;
    color: white;
    text-align: center;
}

.apresentacao a.button-strong {
    margin: 4% auto;
}

/* features */
#features .flex-container {
    align-items: flex-start;
    margin: 12% 0;
}

.features-txt {
    width: 43%;
}

.features-txt p {
    margin-top: 3%;
}

#planejamento .features-txt {
    order: 1;
    text-align: right;
}

/* PLANOS */
#planos {
    width: 100vw;
    height: 180vh;
    background: #1DB8DC;
    padding-top: 8%;
   
}

.planos-apresentacao {
    text-align: center;

}

.planos-apresentacao p {
    font-size: 2.5vh;
    font-weight: 300;
}

.planos-apresentacao h3,
.planos-apresentacao p {
    color: white;
}

.planos-item {
    width: 28%;
    height: 120vh;
    background: white;
    border-radius: 22px;
    text-align: center;
    padding: 3%;
    margin-top: 8%;
    font-size: 2.3vh;
    font-weight: 300;
    color: rgb(124, 124, 124);
    position: relative; /*position para link "saiba mais"*/
    
}

.planos-item h4 {
    color: #4D4D4D;
}

.planos-item p {
    font-size: 2vh;
    font-weight: 400;
}

.planos-item li {
    text-align: left;
    line-height: 2;
}

.planos-item .planos-item-preco {
    font-size: 5vh;
    font-weight: 300;
    color: #4D4D4D;
    padding-top: 10%;
}

.planos-item em {
    font-size: 2vh;
    color: rgb(124, 124, 124);
    font-style: normal;
    font-weight: 300;
}


/* .planos ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
} */


.fas.fa-check {
    color: #62CBAF;
    padding-right: 8px;
}

.separation-line {
    width: 20%;
    display: block;
    border-top: 2px solid rgb(187, 187, 187);
    margin: 25% auto 10% auto;
}

.planos-item a.saiba {
    position: absolute;
    bottom: 3%;
    left: 35%;
    text-decoration: underline;
    color: #4D4D4D;
    font-size: 2vh;
}


/* brands */


.brands {
    width: 100%;
    height: 50vh;
    margin: 8% 0;
    text-align: center;
    
}

.brands-bloco {
    width: 90%;
    margin: 5% auto 0 auto;
}

.brands-bloco img {
    margin: 0 4%;

}

/* formulario */

form {
    width: 90%;
    margin-top: 4%;
    position: relative;

  }
  
  fieldset {
    border: none;
    margin: 4% 0;
  }
  
  input,
  textarea {
    display: block;
    width: 70%;
    border-radius: 28px;
    border: #B2B2B2 1px solid;
    background: #F8F8F8;
    padding: 1%;
  }
  
  input {
    height: 40px;
  }
    
  input:focus {
    background: rgba(57, 188, 240, 0.1);
    border-radius: 5px;
    border-radius: 28px;
    outline: none;
  }

  textarea {
    height: 200px;
    resize: none;
  }

  label {
    font-weight: 400;
    font-size: 2.5vh;
    color: rgb(32, 32, 32);
  }

  button {
    font-family: "Prompt";
    border: none;
    position: absolute;
    bottom: -16%;
    right: 30%;
  
  }
  
  button:hover {
    background: rgb(196, 38, 72);
  }

/* call */

.call {
    width: 100%;
    height: 55vh;
    background: #D5294E;
    padding: 6% 0;
    color: white;
    text-align: center;
}

.call p {
    font-size: 2.5vh;
    font-weight: 300;
}

.call a.button-medium {
    margin: 4% auto;
}

/* FOOTER */
/* mapa de links */

footer {
    /* height: 60vh; */
    width: 100%;
    margin-top: 23%;
}

footer a {
    text-transform: none;
    color: #4D4D4D;
}

.footer-flex-container {
    display: flex;
}

.footer-flex-container div {
    width: 20%;
}

.footer-flex-container nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-flex-container ul {
    width: 35%;
}

.footer-map li a {
   font-weight: 300;
   line-height: 2;
}

.footer-map h5 {
    margin-bottom: 4%;
}


/* redes */
.redes {
    height: 18vh;
    margin-top: 5%;
    background: #4D4D4D;
}

.redes .footer-flex-container {
    position: relative;
    top: 60%;
    left: 48%;
}


/* -------------------------Media queries for mobile-------------------------- */

@media only screen and (max-width: 416px) {

    body {
        background: linear-gradient( #1DB8DC, #1DB8DC,  #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8, #F8F8F8);
    }

    .menu .open-submenu:hover .submenu {
        display: none;
      
    }

    h2,
    h3,
    p {
        text-align: center;
    }

    h1 {
        font-size: 230%;
    }

    h3 {
        font-size: 160%;
    }

    main {
        top: 40vh;
    }
    
    .apresentacao {
        height: 100%;
    }

    .apresentacao p {
        padding: 6% 0;
    }

    .flex-container {
        flex-direction: column;
    }


    .features-txt {
        width: 100%;
    }

    .planos-item {
        width: 100%;
        padding: 10%;
    }

    .button-light,
    .button-strong,
    .planos-item .button-medium {
        width: 100%;
    }

    .brands,
    .call {
        height: 100%;
        padding: 6%;
    }

    .brands-bloco img {
        margin: 4%;
        height: 60px;
    }

    
    #gerenciamento img,
    #planejamento img,
    #integracao img {
        display: none;
    }

    #planos {
        height: 100%;
        padding-bottom: 20%;
    }

    footer {
        position: relative;
        top: 30vh;
    }

    .footer-flex-container {
        flex-direction: column;
    }

    .footer-flex-container nav {
        flex-direction: column;
    }

    .footer-flex-container ul {
        width: 100%;
        margin: 5% 0;
    }

    .footer-flex-container div {
        width: 40%;
        padding: 3% 0;
    }

    .redes {
        height: 100%;
        padding-top: 12%;
    }

    .redes .footer-flex-container {
        position: relative;
        top: 20%;
        left: 10%;
    }


    .flex-container-menu {
        width: 100%;
        display: unset;
    
    }

    .menu {
        height: 32%;
    }

    .menu nav {
        display: unset;
    }

    .menu nav ul {
        display: inline;
        width: 80%;
        justify-content: space-between;
        text-align: center;
    }

    .menu li {

        list-style: none;
        font-size: 90%;
        padding: 2%;
    }

    .menu .open-submenu a {

        padding-bottom: 20px;
    
    }

}
