body {
    background: #F8F8F8;
}

h2 {
    font-size: 2.3vh;
    font-weight: 600;
    text-transform: uppercase;
    color: #1DB8DC;
}

.menu {
    height: 18vh;
    width: 100%;
    padding-top: 3%;
    position: fixed;
    z-index: 100;
    background: white;
    box-shadow: rgba(126, 126, 126, .2) 0 0 5px;
  } 

  .menu nav a {
    color: #4D4D4D;
  }

  .menu a.button-menu {
    width: 130px;
    height: 55px;
    background: #1DB8DC;
    border-radius: 32px;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    margin: -20px 0;
    padding: 18px 0;
  }


  .content-suporte {
    max-width: 80vw;
    height: 100%;
    margin: 0 auto; 
  }

  .apresentacao-form {
    font-weight: 200;
    max-width: 60vw;
    text-align: center;
  }

  input {
    width: 80%;
    margin: 0 auto;
  }

.fas.fa-search {
  position: absolute;
  top: 10.5%;
  right: 26%;
  color:#B2B2B2;
  cursor: pointer;
}

.fas.fa-search:hover {
  color:  #4D4D4D;
}

button {
  font-family: "Prompt";
  border: none;
  position: absolute;
  bottom: -16%;
  right: 50%;

}

button:hover {
  background: rgb(196, 38, 72);
}

.call {
  background: #1DB8DC;
  height: 45vh;
}

.button-regular {
  width: 16vw;
  height: 7vh;
  background: white;
  border-radius: 32px;
  margin: 30px auto;
  font-size: 2.2vh;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #1DB8DC;
}

.call a.button-regular {
  margin: 2% auto;
}

.call a.button-regular:hover {
  background: rgb(250, 250, 250);
}

/* faq */

.faq {
  /* width: 80vw; */
  height: 100%;
  margin-top: 10%;
}

.faq p {
  font-weight: 300;
}

.faq-perguntas {
  margin: 5% 0 10% 0;
}

.faq-perguntas li {
  border: #B2B2B2 1px solid;
  border-radius: 10px;
}

.faq-perguntas a {
  font-weight: 300;
  color: #1DB8DC;
}

.faq-perguntas a:hover {
 text-decoration: underline;
}

/* -------------------------Media queries for mobile-------------------------- */

@media only screen and (max-width: 416px) {

  .menu {
    height: 32%;
  } 

  input {
    width: 100%;
    padding: 6%;
  }

.apresentacao-form {
  max-width: 80%;
}

.fas.fa-search {
  right: 15%;
}


.button-regular {
  width: 90%;
}

.call {
  height: 30vh;
  padding: 10%;

}













}