@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/contato.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Prompt:200,300,400,500,600" rel="stylesheet"> 
    <title>Conheça o Checkpoint</title> 
</head>

<body>
        <header id="menu" class="menu">
            <div class="content"> <!--container para margens do site-->
                <div class="flex-container-menu">
                    <div>
                        <a href="/"><img src="/img/checkpoint_logo_topo.png" alt="logo do checkpoint"></a>
                    </div>
                    <nav> <!--inicio menu-->
                        <ul> 
                            <li><a href="/Usuario/Login" class="button-menu">Entrar</a></li>
                            <li><a href="/Usuario/Cadastrar">Cadastrar</a></li>
                            <li class="open-submenu"><a href="/">Por quê Checkpoint</a>
                                <ul class="submenu"> <!--inicio submenu-->
                                    <li><a href="#features">Recursos</a></li>
                                    <li><a a href="#planos">Planos</a></li>
                                    <li><a href="#call">Experimente agora</a></li>
                                </ul> <!--fim submenu-->
                            </li>
                            <li><a href="/Pages/Sobre">Sobre</a></li>
                            <li><a href="/Pages/Contato">Contato</a></li>
                            <li><a href="/Pages/Suporte">Suporte</a></li>
                        </ul>
                    </nav> <!--fim menu-->
                </div>
            </div>
        </header>

        <main>
            <section id="apresentacao-form" class="content-contato apresentacao-form">
                <h2>Contato</h2>
                <h3>Converse com nossa equipe de vendas</h3>  
                <p>Envie suas informações e um representante da Checkpoint entrará em contato com você o mais breve possível. Tem alguma dúvida? Verifique a seção de perguntas frequentes.</p>
            </section>
            <section id="form" class="form content-contato">
                <form action="">
                    <fieldset>
                        <label for="name">Nome completo</label>
                        <input type="text" id="name" name="user_name">
                    </fieldset>
                    <fieldset>
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="user_email">
                    </fieldset>
                    <fieldset>
                        <label for="empresa">Empresa</label>
                        <input type="text" id="empresa" name="user_work">
                    </fieldset>
                    <fieldset>
                        <label for="msg">Mensagem</label>
                        <textarea id="msg" name="user_message"></textarea>
                    </fieldset>
                    <fieldset>
                        <button type="submit" class="button-strong">Enviar</button>
                    </fieldset>
                </form>
            </section>

            <section id="mapa" class="flex-container">
                <div class="endereco">
                    <h3>Ou venha tomar um café conosco em nossa sede</h3>
                    <address>Av. Paulista, no. 4023 <br>
                            São Paulo - SP<br>
                            CEP: 000000-00
                    </address>
                </div>
                <div class="contato-mapa">
                    <p>São Paulo, BR</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1487821350597!2d-46.65657118450751!3d-23.56309936754272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.+Paulista%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-PT!2sbr!4v1536796033305" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <a href="https://maps.google.com.br">Siga para o Google Maps</a>
                </div>
            </section>
            <!-- não mexer daqui para baixo -->

            <section id="brands" class="brands">
                <h3>As maiores empresas <br>já usam o Checkpoint</h3>
                <div class="brands-bloco">
                    <img src="/img/checkpoint_linkedin.png" alt="logo do Linkedin">
                    <img src="/img/checkpoint_behance.png" alt="logo do Behance">
                    <img src="/img/checkpoint_google.png" alt="logo da Google">
                    <img src="/img/checkpoint_pinterest.png" alt="logo do Pinterest">
                    <img src="/img/checkpoint_dropbox.png" alt="logo do Dropbox">
                </div>
            </section>

            <section id="call" class="call">
                <h3>Traga sua empresa <br>para este grande time</h3>
                <p>E conquiste o controle do seu negócio</p>
                <a href="#" class="button-medium">Experimente agora</a>
            </section>
        </main>

        <footer>
            <section class="footer-flex-container content">
                <div>
                    <img src="/img/checkpoint_logo.png" alt="logo colorido do checkpoint">
                </div>
                <nav class="footer-map">
                    <ul>
                        <li><h5>Checkpoint</h5></li>
                        <li><a href="#">Página Inicial</a></li>
                        <li><a href="#">Produto</a></li>
                        <li><a href="#">Preços</a></li>
                        <li><a href="#">Blog Checkpoint</a></li>
                    </ul>

                    <ul>
                        <li><h5>Sobre nós</h5></li>
                        <li><a href="#">Empresa</a></li>
                        <li><a href="#">Equipe de liderança</a></li>
                        <li><a href="#">Diversidade</a></li>
                        <li><a href="#">Trabalhe conosco</a></li>
                        <li><a href="">Imprensa</a></li>
                    </ul>

                    <ul>
                        <li><h5>Suporte</h5></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Integrações</a></li>
                        <li><a href="#">Parceiros</a></li>
                        <li><a href="#">Desenvolvedores e API</a></li>
                    </ul>
                </nav>
            </section>
            
            <section id="redes" class="redes">
                <div class="footer-flex-container">
                    <div>
                        <a href="#"><img src="/img/checkpoint_icon_fb.png" alt="icone do facebook"></a>
                        <a href="#"><img src="/img/checkpoint_icon_twitter.png" alt="icone do twitter"></a>
                        <a href="#"><img src="/img/checkpoint_icon_instagram.png" alt="icone do instagram"></a>
                    </div>
                    <div>
                        <a href="#"><img src="/img/checkpoint_appstore.png" alt="icone da app store"></a>
                        <a href="#"><img src="/img/checkpoint_gplay.png" alt="icone da google play"></a>
                    </div>
                </div>
            </section>
        </footer>
    
    
</body>
</html>