@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Prompt:200,300,400,500,600" rel="stylesheet"> 
    <!-- <script src="js/float-panel.js"></script> -->
    <title>Conheça o Checkpoint</title> 
</head>

<body>
        <header id="menu" class="menu">
            <div class="content"> <!--container para margens do site-->
                <div class="flex-container-menu">
                    <div>
                        <a href="/"><img src="/img/checkpoint_logo_negativo.png" alt="logo do checkpoint"></a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/Usuario/Login" class="button-menu">Entrar</a></li>
                            <li><a href="/Usuario/Cadastrar">Cadastrar</a></li>
                            <li class="open-submenu"><a href="/">Por quê Checkpoint</a>
                                <ul class="submenu"> <!--inicio submenu-->
                                    <li><a href="#features">Recursos</a></li>
                                    <li><a a href="#planos">Planos</a></li>
                                    <li><a href="#call">Experimente agora</a></li>
                                </ul> <!--fim submenu-->
                            </li>
                            <li><a href="/Pages/Sobre">Sobre</a></li>
                            <li><a href="/Pages/Contato">Contato</a></li>
                            <li><a href="/Pages/Suporte">Suporte</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            <section id="apresentacao" class="apresentacao content">
                <h1>A plataforma ideal para<br> organizar a sua empresa</h1> <!--É H1 mesmo?-->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quam incidunt eveniet dolorum molestias veritatis quos impedit porro modi ducimus? Saepe vitae, magni maxime vero cupiditate modi reiciendis consequatur ipsum?</p>
                <a href="#" class="button-strong">Experimente agora</a>
                <img src="/img/checkpoint_banner-10.png" alt="tela principal do aplicativo checkpoint">
            </section>

            <section id="features" class="content">
                <section id="gerenciamento" class="flex-container">
                    <div class="features-txt">
                        <h2>Gerenciamento</h2>
                        <h3>Conquiste o controle do seu negócio</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde incidunt alias temporibus tempora cum earum iure magni perferendis tenetur dicta et deserunt dolore nihil quibusdam, provident dolorum, sed ducimus aspernatur?</p>
                    </div>
                    <div>
                        <img src="/img/checkpoint_gerenciar.png" alt="tela de gerenciamento do aplicativo checkpoint">
                    </div>
                </section>

                <section id="planejamento" class="flex-container">
                    <div class="features-txt">
                        <h2>Planejamento</h2>
                        <h3>Tome decisões mais precisas no futuro</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde incidunt alias temporibus tempora cum earum iure magni perferendis tenetur dicta et deserunt dolore nihil quibusdam, provident dolorum, sed ducimus aspernatur?</p>
                    </div>
                    <div>
                        <img src="/img/checkpoint_planejar.png" alt="tela de planejamento do aplicativo checkpoint">
                    </div>
                </section>

                <section id="integracao" class="flex-container">
                    <div class="features-txt">
                        <h2>Integração</h2>
                        <h3>Tenha todas as ferramentas à mão</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde incidunt alias temporibus tempora cum earum iure magni perferendis tenetur dicta et deserunt dolore nihil quibusdam, provident dolorum, sed ducimus aspernatur?</p>
                    </div>
                    <div>
                        <img src="/img/checkpoint_integrar.png" alt="tela que mostra os serviços integrados ao aplicativo checkpoint">
                    </div>
                </section>
            </section>

            <section id="planos" class="planos">
                <div class="content">
                    <div class="planos-apresentacao">
                        <h2>Planos</h2>
                        <h3>Poderoso e acessível</h3>
                        <p>Encontre o plano certo para sua empresa. <br>Experimente por 15 dias gratuitamente ou compre já!</p>
                    </div>
                    <div class="flex-container">
                        <div id="basico" class="planos-item">
                            <img src="/img/checkpoint_icon_basico.png" alt="">
                            <h4>Básico</h4>
                            <p>Para pequenas equipes de <strong>até 5 membros </strong>que querem experimentar o Checkpoint por um período ilimitado de tempo</p>
                            <p class="planos-item-preco">R$0<em>/forever</em></p>
                            <a href="" class="button-light">Experimente agora</a>
                            <span class="separation-line"></span> <!--linha de divisao do conteúdo-->
                            <ul>
                                <li><i class="fas fa-check"></i>Controle de entrada</li>
                                <li><i class="fas fa-check"></i>Gráfico mensal</li>
                            </ul>
                            <a href="#" class="saiba">saiba mais</a>
                        </div>

                        <div id="premium" class="planos-item">
                            <img src="/img/checkpoint_icon_premium.png" alt="">
                            <h4>Premium</h4>
                            <p>Para equipes e empresas de <span>até 35 membros</span>prontas para tornar o Checkpoint o centro de seus projetos e gerenciamento</p>
                            <p class="planos-item-preco">R$89<em>/mês</em></p>
                            <a href="" class="button-medium">Compre já!</a>
                            <span class="separation-line"></span> <!--linha de divisao do conteúdo-->
                            <ul>
                                <li><i class="fas fa-check"></i>Controle de entrada</li>
                                <li><i class="fas fa-check"></i>Gráfico mensal</li>
                                <li><i class="fas fa-check"></i>Acesso Mobile</li>
                            </ul>
                            <a href="#" class="saiba">saiba mais</a>
                        </div>

                        <div id="enterprise" class="planos-item">
                            <img src="/img/checkpoint_icon_enterprise.png" alt="">
                            <h4>Enterprise</h4>
                            <p>Para empresas que precisam de SSO, Compliance Exports e tempo de atividade garantido em uma única equipe do Checkpoint</p>
                            <p class="planos-item-preco">R$190<em>/mês</em></p>
                            <a href="" class="button-strong">Saiba mais</a>
                            <span class="separation-line"></span> <!--linha de divisao do conteúdo-->
                            <ul>
                                <li><i class="fas fa-check"></i>Controle de entrada</li>
                                <li><i class="fas fa-check"></i>Gráfico mensal</li>
                                <li><i class="fas fa-check"></i>Produtividade</li>
                                <li><i class="fas fa-check"></i>Tempo de atividade</li>
                                <li><i class="fas fa-check"></i>Relatório do dia</li>
                                <li><i class="fas fa-check"></i>Acesso Mobile</li>
                            </ul>
                            <a href="#" class="saiba">saiba mais</a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="brands" class="brands">
                <h3>As maiores empresas <br>já usam o Checkpoint</h3>
                <div class="brands-bloco">
                    <img src="/img/checkpoint_linkedin.png" alt="logo do Linkedin">
                    <img src="/img/checkpoint_behance.png" alt="logo do Behance">
                    <img src="/img/checkpoint_google.png" alt="logo da Google">
                    <img src="/img/checkpoint_pinterest.png" alt="logo do Pinterest">
                    <img src="/img/checkpoint_dropbox.png" alt="logo do Dropbox">
                </div>
            </section>

            <section id="call" class="call">
                <h3>Traga sua empresa <br>para este grande time</h3>
                <p>E conquiste o controle do seu negócio</p>
                <a href="#" class="button-medium">Experimente agora</a>
            </section>
        </main>

        <footer>
            <section class="footer-flex-container content">
                <div>
                    <img src="/img/checkpoint_logo.png" alt="logo colorido do checkpoint">
                </div>
                <nav class="footer-map">
                    <ul>
                        <li><h5>Checkpoint</h5></li>
                        <li><a href="#">Página Inicial</a></li>
                        <li><a href="#">Produto</a></li>
                        <li><a href="#">Preços</a></li>
                        <li><a href="#">Blog Checkpoint</a></li>
                    </ul>

                    <ul>
                        <li><h5>Sobre nós</h5></li>
                        <li><a href="#">Empresa</a></li>
                        <li><a href="#">Equipe de liderança</a></li>
                        <li><a href="#">Diversidade</a></li>
                        <li><a href="#">Trabalhe conosco</a></li>
                        <li><a href="">Imprensa</a></li>
                    </ul>

                    <ul>
                        <li><h5>Suporte</h5></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Integrações</a></li>
                        <li><a href="#">Parceiros</a></li>
                        <li><a href="#">Desenvolvedores e API</a></li>
                    </ul>
                </nav>
            </section>
            
            <section id="redes" class="redes">
                <div class="footer-flex-container">
                    <div>
                        <a href="#"><img src="/img/checkpoint_icon_fb.png" alt="icone do facebook"></a>
                        <a href="#"><img src="/img/checkpoint_icon_twitter.png" alt="icone do twitter"></a>
                        <a href="#"><img src="/img/checkpoint_icon_instagram.png" alt="icone do instagram"></a>
                    </div>
                    <div>
                        <a href="#"><img src="/img/checkpoint_appstore.png" alt="icone da app store"></a>
                        <a href="#"><img src="/img/checkpoint_gplay.png" alt="icone da google play"></a>
                    </div>
                </div>
            </section>
        </footer>
    
    
</body>
</html>