@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/sobre.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Prompt:200,300,400,500,600" rel="stylesheet"> 
    <title>Conheça o Checkpoint</title> 
</head>

<body>
    <div class="background-banner">
        <header id="menu" class="menu">
            <div class="content"> <!--container para margens do site-->
                <div class="flex-container-menu">
                    <div>
                        <a href="/"><img src="/img/checkpoint_logo_negativo.png" alt="logo do checkpoint"></a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/Usuario/Login" class="button-menu">Entrar</a></li>
                            <li><a href="/Usuario/Cadastrar">Cadastrar</a></li>
                            <li class="open-submenu"><a href="/">Por quê Checkpoint</a>
                                <ul class="submenu"> <!--inicio submenu-->
                                    <li><a href="#features">Recursos</a></li>
                                    <li><a a href="#planos">Planos</a></li>
                                    <li><a href="#call">Experimente agora</a></li>
                                </ul> <!--fim submenu-->
                            </li>
                            <li><a href="/Pages/Sobre">Sobre</a></li>
                            <li><a href="/Pages/Contato">Contato</a></li>
                            <li><a href="/Pages/Suporte">Suporte</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

<!-- inicio do conteudo exclusivo desta pagina -->

        <main>
            <section id="apresentacao-sobre" class="apresentacao-sobre content-sobre">
                <h2>Sobre nós</h2>
                <h3>Tornando seu negócio cada vez mais humano e mais fácil para você e seus colaboradores</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quam incidunt eveniet dolorum molestias veritatis quos impedit porro modi ducimus? Saepe vitae, magni maxime vero cupiditate modi reiciendis consequatur ipsum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quam incidunt eveniet dolorum molestias veritatis quos impedit porro modi ducimus? Saepe vitae, magni maxime vero cupiditate modi reiciendis consequatur ipsum?</p>
                <a href="#" class="button-regular">Trabalhe conosco</a>
            </section>
        </div>

            <section id="missao" class="apresentacao-missao content-sobre">
                <h3>Nossa missão é permitir que todas as equipes <br>trabalhem juntas com mais facilidade </h3>
                <span class="separation-line"></span>

                <div class="flex-container missao">
                    <div class="missao-topico">
                        <div>
                            <img src="/img/checkpoint_icon_global.png" alt="ilustracao que representa um globo terrestre">
                        </div>
                        <h4>Localizado em todo o mundo e crescendo</h4>
                        <p>Em todos os nossos escritórios, as nossas  equipes se juntam a um propósito compartilhado. Acreditamos que todos merecem trabalhar em uma cultura acolhedora, respeitosa e empática, e nos esforçamos para garantir que todos tenham o apoio de que precisam para prosperar. Junte-se a nós e faça o melhor trabalho da sua vida.</p>
                    </div>
                    <div class="missao-topico">
                        <div>
                            <img src="/img/checkpoint_icon_chaotic.png" alt="ilustracao que representa um quebra-cabeca sendo encaixado">
                        </div>
                        <h4>O trabalho não deve ser caótico</h4>
                        <p>Com Checkpoint, todo mundo sabe o que deve fazer e por quê. Essa clareza, transparência e foco permitem que as equipes colaborem com menos atrito e alcancem ótimos resultados.
                        Nós acreditamos que a coordenação entre as pessoas deve ser tão fácil quanto é entre nosso cérebro e nosso corpo, que as pessoas devem ser valorizadas e devem amar o que fazem.</p>
                    </div>
                    <div class="missao-topico">
                        <div>
                            <img src="/img/checkpoint_icon_brain.png" alt="ilustracao que representa um cerebro produzindo conhecimento">
                        </div>
                        <h4>Diga o que você pensa</h4>
                        <p>Idéias, elogios e feedback podem e devem vir de todos dentro da Checkpoint. Independentemente da equipe ou título, todo o conhecimento e entusiasmo é bem-vindo e apreciado.
                        A oportunidade de aprender está em todo lugar e nos encorajamos constantemente a fazer perguntas, a mergulhar nos dados e colaborar com outras equipes e nossos usuários.</p>
                    </div>
                </div>
            </section>
            
            <section id="galeria" class="galeria">
                <img class="grid-item" src="/img/adult-amusement-connection-1210532.jpg" alt="">
                <img class="grid-item" src="/img/american-blond-hair-breakfast-1253528.jpg" alt="">
                <img class="grid-item" src="/img/adult-business-computer-1181678.jpg" alt="">
                <img class="grid-item" src="/img/carrying-casual-cheerful-1162964.jpg" alt="">
                <img class="grid-item" src="/img/achievement-adult-aerial-1122403.jpg" alt="">
                <img class="grid-item" src="/img/active-activity-adult-1246958.jpg" alt="">
            </section>

<!--fim do conteudo exclusico desta página-->
            
            <section id="call" class="call">
                <h3>Traga sua empresa <br>para este grande time</h3>
                <p>E conquiste o controle do seu negócio</p>
                <a href="#" class="button-medium">Experimente agora</a>
            </section>
        </main>

        <footer>
            <section class="footer-flex-container content-sobre">
                <div>
                    <img src="/img/checkpoint_logo.png" alt="logo colorido do checkpoint">
                </div>
                <nav class="footer-map">
                    <ul>
                        <li><h5>Checkpoint</h5></li>
                        <li><a href="#">Página Inicial</a></li>
                        <li><a href="#">Produto</a></li>
                        <li><a href="#">Preços</a></li>
                        <li><a href="#">Blog Checkpoint</a></li>
                    </ul>

                    <ul>
                        <li><h5>Sobre nós</h5></li>
                        <li><a href="#">Empresa</a></li>
                        <li><a href="#">Equipe de liderança</a></li>
                        <li><a href="#">Diversidade</a></li>
                        <li><a href="#">Trabalhe conosco</a></li>
                        <li><a href="">Imprensa</a></li>
                    </ul>

                    <ul>
                        <li><h5>Suporte</h5></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Integrações</a></li>
                        <li><a href="#">Parceiros</a></li>
                        <li><a href="#">Desenvolvedores e API</a></li>
                    </ul>
                </nav>
            </section>
            
            <section id="redes" class="redes">
                <div class="footer-flex-container">
                    <div>
                        <a href="#"><img src="/img/checkpoint_icon_fb.png" alt="icone do facebook"></a>
                        <a href="#"><img src="/img/checkpoint_icon_twitter.png" alt="icone do twitter"></a>
                        <a href="#"><img src="/img/checkpoint_icon_instagram.png" alt="icone do instagram"></a>
                    </div>
                    <div>
                        <a href="#"><img src="/img/checkpoint_appstore.png" alt="icone da app store"></a>
                        <a href="#"><img src="/img/checkpoint_gplay.png" alt="icone da google play"></a>
                    </div>
                </div>
            </section>
        </footer>
    
    
</body>
</html>