@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/suporte.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Prompt:200,300,400,500,600" rel="stylesheet"> 
    <!-- <script src="js/float-panel.js"></script> -->
    <title>Conheça o Checkpoint</title> 
</head>

<body>
    <header id="menu" class="menu">
        <div class="content"> <!--container para margens do site-->
            <div class="flex-container-menu">
                <div>
                    <a href="/"><img src="/img/checkpoint_logo_topo.png" alt="logo do checkpoint"></a>
                </div>
                <nav> <!--inicio menu-->
                    <ul> 
                        <li><a href="/Usuario/Login" class="button-menu">Entrar</a></li>
                        <li><a href="/Usuario/Cadastrar">Cadastrar</a></li>
                        <li class="open-submenu"><a href="/">Por quê Checkpoint</a>
                            <ul class="submenu"> <!--inicio submenu-->
                                <li><a href="#features">Recursos</a></li>
                                <li><a a href="#planos">Planos</a></li>
                                <li><a href="#call">Experimente agora</a></li>
                            </ul> <!--fim submenu-->
                        </li>
                        <li><a href="/Pages/Sobre">Sobre</a></li>
                        <li><a href="/Pages/Contato">Contato</a></li>
                        <li><a href="/Pages/Suporte">Suporte</a></li>
                    </ul>
                </nav> <!--fim menu-->
            </div>
        </div>
    </header>

    <main>
        <section id="apresentacao-form" class="content-suporte apresentacao-form">
            <h2>Suporte</h2>
            <h3>Olá, como podemos ajudar?</h3>  
        </section>
        <section id="search" class="form content-suporte">
            <form action="">
                <fieldset>
                    <input type="text" id="name" name="user_name">
                </fieldset>
            </form>
            <i class="fas fa-search"></i>
        </section>

        <section id="faq" class=" faq content-suporte">
            <h3>Veja o que encontramos para você:</h3>
            <p>Aqui você pode encontrar as dúvidas mais frequentes de nossos usuários.</p>

            <ul class="faq-perguntas">
                <li><a href="#">Como adicionar um membro de sua equipe ao projeto</a></li>
                <li><a href="#">Adicionar modais e menus da barra lateral</a></li>
                <li><a href="#">Comece com marcação de ponto</a></li>
                <li><a href="#">Como adicionar comentários e anotações</a></li>
                <li><a href="#">Como adicionar colaboradores</a></li>
                <li><a href="#">Baixar Checkpoint para iOS e Android</a></li>
                <li><a href="#">Como escolher outros planos</a></li>
                <li><a href="#">Quais são as diferenças entre os planos Básico, Premium e Enterprise?</a></li>
                <li><a href="#">Comece com a Developer API</a></li>
            </ul>
        </section>
       
        
                        <!--não mexer daqui para baixo-->

        <section id="call" class="call">
            <h3>Não encontrou o que procurava?</h3>
            <a href="#" class="button-regular">Peça ajuda aqui</a>
        </section>
    </main>

    <footer>
        <section class="footer-flex-container content">
            <div>
                <img src="/img/checkpoint_logo.png" alt="logo colorido do checkpoint">
            </div>
            <nav class="footer-map">
                <ul>
                    <li><h5>Checkpoint</h5></li>
                    <li><a href="#">Página Inicial</a></li>
                    <li><a href="#">Produto</a></li>
                    <li><a href="#">Preços</a></li>
                    <li><a href="#">Blog Checkpoint</a></li>
                </ul>

                <ul>
                    <li><h5>Sobre nós</h5></li>
                    <li><a href="#">Empresa</a></li>
                    <li><a href="#">Equipe de liderança</a></li>
                    <li><a href="#">Diversidade</a></li>
                    <li><a href="#">Trabalhe conosco</a></li>
                    <li><a href="">Imprensa</a></li>
                </ul>

                <ul>
                    <li><h5>Suporte</h5></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Integrações</a></li>
                    <li><a href="#">Parceiros</a></li>
                    <li><a href="#">Desenvolvedores e API</a></li>
                </ul>
            </nav>
        </section>
        
        <section id="redes" class="redes">
            <div class="footer-flex-container">
                <div>
                    <a href="#"><img src="/img/checkpoint_icon_fb.png" alt="icone do facebook"></a>
                    <a href="#"><img src="/img/checkpoint_icon_twitter.png" alt="icone do twitter"></a>
                    <a href="#"><img src="/img/checkpoint_icon_instagram.png" alt="icone do instagram"></a>
                </div>
                <div>
                    <a href="#"><img src="/img/checkpoint_appstore.png" alt="icone da app store"></a>
                    <a href="#"><img src="/img/checkpoint_gplay.png" alt="icone da google play"></a>
                </div>
            </div>
        </section>
    </footer>
    
    
</body>
</html>