<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="stylesheet" href="/css/editar.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Prompt:200,300,400,500,600" rel="stylesheet"> 
    <title>Conheça o Checkpoint</title> 
</head>

<body>
    
        <header>
            <div id="menu" class="menu">
                <div class="content"> <!--container para margens do site-->

                    <!--menu principal-->
                    <div class="flex-container-menu">
                        <div>
                            <a href="/"><img src="img/checkpoint_logo_topo.png" alt="logo do checkpoint"></a>
                        </div>
                        <nav> <!--inicio menu-->
                            <ul> 
                                <li class="open-submenu"><a href="index.html">Por quê Checkpoint</a>
                                    <ul class="submenu"> <!--inicio submenu-->
                                        <li><a href="#features">Recursos</a></li>
                                        <li><a a href="#planos">Planos</a></li>
                                        <li><a href="#call">Experimente agora</a></li>
                                    </ul> <!--fim submenu-->
                                </li>
                                <li><a href="/Pages/Sobre">Sobre</a></li>
                                <li><a href="/Pages/Contato">Contato</a></li>
                                <li><a href="/Pages/Suporte">Suporte</a></li>
                            </ul>
                        </nav> <!--fim menu-->
                    </div>
                </div><!--fim menu principal-->
            </div>

            <!-- inicio menu dashboard -->
            <div class="container-menuDashboard">
                <nav class="menuDashboard">
                    <ul class="menuDashboard-item">
                        <li><a href="dashboard-usuario.html">Dashboard</a></li>
                        <li><a href="login.html">Sair</a></li>
                    </ul>
                    <ul class="menuDashboard-item">
                        <li><p>Seja bem vinda, Maria</p></li>
                        <li><img src="" alt=""></li>
                    </ul>
                </nav>
            </div>
            <!-- fim menu dashboard -->

        </header>

        <main>
            <section class="formularioEditar">
                <h2>Dashboard</h2>
                <h3>Seja bem vinda, Maria Silva</h3>
                <ul class="dashboard">
                    <li><a href="">Editar Cadastro</a></li>
                    <li><a href="">Escrever Depoimento</a></li>
                    <li><a href="">Assinar nossa Newsletter</a></li>
                    <li><a href="">Sair</a></li>
                </ul>
            </section>      
        </main>

        <footer>
            <section class="footer-flex-container content">
                <div>
                    <img src="img/checkpoint_logo.png" alt="logo colorido do checkpoint">
                </div>
                <nav class="footer-map">
                    <ul>
                        <li><h5>Checkpoint</h5></li>
                        <li><a href="#">Página Inicial</a></li>
                        <li><a href="#">Produto</a></li>
                        <li><a href="#">Preços</a></li>
                        <li><a href="#">Blog Checkpoint</a></li>
                    </ul>

                    <ul>
                        <li><h5>Sobre nós</h5></li>
                        <li><a href="#">Empresa</a></li>
                        <li><a href="#">Equipe de liderança</a></li>
                        <li><a href="#">Diversidade</a></li>
                        <li><a href="#">Trabalhe conosco</a></li>
                        <li><a href="">Imprensa</a></li>
                    </ul>

                    <ul>
                        <li><h5>Suporte</h5></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Integrações</a></li>
                        <li><a href="#">Parceiros</a></li>
                        <li><a href="#">Desenvolvedores e API</a></li>
                    </ul>
                </nav>
            </section>
            
            <section id="redes" class="redes">
                <div class="footer-flex-container">
                    <div>
                        <a href="#"><img src="img/checkpoint_icon_fb.png" alt="icone do facebook"></a>
                        <a href="#"><img src="img/checkpoint_icon_twitter.png" alt="icone do twitter"></a>
                        <a href="#"><img src="img/checkpoint_icon_instagram.png" alt="icone do instagram"></a>
                    </div>
                    <div>
                        <a href="#"><img src="img/checkpoint_appstore.png" alt="icone da app store"></a>
                        <a href="#"><img src="img/checkpoint_gplay.png" alt="icone da google play"></a>
                    </div>
                </div>
            </section>
        </footer>
    
    
</body>
</html>